<!DOCTYPE HTML>
<html>
    <!-- head -->
    {% include 'blog/common/head.html' %}

	<body id="top">

		<!-- Header -->
        {% include 'blog/common/header.html' %}

		<!-- Main -->
			<div id="main">
		
				<!-- One -->
                {% for blog in items %}
					<section id="one">
						<header class="major">
							<h2>{{ blog.title }}</h2>
						</header>
						<span>{{ blog.category }}</span><span style="color: #0de730"> | </span>
                        <span>{{ blog.author }}</span><span style="color: #0de730"> | </span>
                        <span>{{ blog.date_time|date:"Y-m-d H:i" }}</span><span style="color: #0de730"> | </span>
                        <p>{{ blog.content|truncatewords:80 }}</p>
                        <ul class="actions">
							<li><a href="#" class="button small">Learn More</a></li>
						</ul>
					</section>

                {% endfor %}

			</div>
			
		<!-- Footer -->
        {% include 'blog/common/footer.html' %}

	</body>
</html>