<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    {% include 'blog/common/head.html' %}


    <body class="login">
        <p>欢迎登陆alex的博客</p>
        <form  method="post" role="form" id="login" class="login">
           {% csrf_token %}

            <label class="control-label" for="username">用户名</label>
            <div  align="center">
                {{ form.username }}
            </div>

            <label class="control-label" for="passwd">密码</label>
            <div  align="center">
                {{ form.password }}
            </div>

            <label class="control-label" for="passwd">验证码</label>
            <div  align="center">
                {{ form.captcha }}<br>
            </div >
            <button type="submit" class="button special">
                登陆
            </button>

        </form>
        <span style="float: right;margin-top: -10px;">
               <a href="/blog/register" style="color:#fff;text-decoration:none;">没有账号,去<span style="color: green">注册</span></a>
           </span>
        <!-- External login -->
        <div class="external-login">
            <a href="#" class="facebook">

                Alex 的博客
            </a>
        </div>

    </body>
</html>
